<div class="row">
    <div class="col-6 text-left">
        <h3>Admin List</h3>
    </div>
    <div class="col-6 text-right" *ngIf="!inProgress">
        <button class="mysalontheme-btn-md mr-1" *ngIf="hideDeleteSelectedBtn" (click)="deleteSelected()"><i
                class="fa fa-trash"></i> &nbsp; Delete Selected</button>

        <button class=" mysalontheme-btn-md" (click)="addEditEmployee(0)"><i class="fa fa-plus"></i> &nbsp; Add
            Admin</button>
    </div>
</div>

<section id="simple-table" *ngIf="!inProgress">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card" id="print-section">
                <div class="card-body p-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="remember-me">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input"
                                                (change)="selectAll($event)" [value]="selectedAll" id="selectAll1"
                                                name="selectAll1" />
                                            <label class="custom-control-label" for="selectAll1"> </label>
                                        </div>
                                    </div>
                                </th>
                                <th>ID </th>
                                <th>Name </th>
                                <th>Email </th>
                                <th>Status </th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngIf="(!employeesList ||(employeesList && employeesList.length<=0))">
                                <td colspan="6">No Data Found.</td>
                            </tr>
                            <tr *ngFor="let employee of employeesList;let i=index;">
                                <td>
                                    <label>
                                        <input type="checkbox" [checked]="employee.isSelected"
                                            [value]="employee.isSelected" (change)="change(employee,$event)" />
                                    </label>
                                </td>
                                <td>{{i+1}}</td>
                                <td>{{employee.name}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.status=='1'?'Active':'Inactive'}}</td>
                                <th>
                                    <button type="button" class="mysalontheme-btn-sm mr-1"
                                        (click)="viewEmployee(viewEmployeeModel,employee)"><i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="mysalontheme-btn-sm mr-1"
                                        (click)="addEditEmployee(employee.id)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" class="mysalontheme-btn-sm mr-1" (click)="deleteEmployee(employee)"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button" *ngIf="employee.status=='Inactive'" class="mysalontheme-btn-sm ml-1"
                                        (click)="updatedEmployeeStatus(employee,'1')"> Active
                                    </button>
                                    <button type="button" *ngIf="employee.status=='active'" class="mysalontheme-btn-sm ml-1"
                                        (click)="updatedEmployeeStatus(employee,'0')"> Inactive
                                    </button>
                                    <button type="button" class="mysalontheme-btn-sm mr-1" title="Impersonate"
                                        (click)="loginEmployee(employee)"><i class="fa fa-sign-in"></i>
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Table Ends-->
<div class="row" *ngIf="inProgress">
    <div class="col-md-12 text-center align-middle">
         <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
        
    </div>
</div>

<ng-template #viewEmployeeModel let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title" id="modal-basic-title ">Admin Details</h4>
            </div>
        </div>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-6">
                <label> <b>ID : </b> {{currentSelected.id}}</label><br>
                <label> <b>Name : </b> {{currentSelected.name}}</label><br>
                <label> <b>Email : </b> {{currentSelected.email}}</label><br>
                <label> <b>Username : </b> {{currentSelected.username}}</label><br>
                <label> <b>Password : </b> {{currentSelected.passcode}}</label><br>
                <label> <b>Status : </b> {{currentSelected.status=='1'?'Active':'Inactive'}}</label><br>
                <label> <b>Plan Start Date : </b>  {{cService.getStringDateFormatByCurtureAndType(currentSelected.planStartDate, false)}}</label><br>
                <label> <b>Plan End Date : </b> {{cService.getStringDateFormatByCurtureAndType(currentSelected.planEndDate, false)}}</label><br>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mysalontheme-btn-sm  " (click)="closeModal()"> <i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</ng-template>