<form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
    <div class="row">
        <div class="col-12">
            <div class="row mt-2" *ngIf="!inProgress">
                <div class="col-lg-12">
                    <label class="page-heading pull-left" *ngIf="isEditMode"> Update Employee</label>
                    <label class="page-heading pull-left" *ngIf="!isEditMode"> Add Employee </label>
                    <button class="mysalontheme-btn-sm pull-right" type="submit">
                        <a class="text-decoration-none text-white" *ngIf="!isEditMode"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                        <a class="text-decoration-none text-white" *ngIf="isEditMode"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                    </button>

                    <button type="button" class="mysalontheme-btn-sm pull-right mr-1" (click)="back()">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="row" *ngIf="!inProgress">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="form-body">
                                            <h5 class="form-section mt-3"><i class="ft-eye"></i> Information
                                            </h5>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>First Name<span class="danger mb-0"
                                                                style="font-size: 15px;">* </span></label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="employeeInfo.firstname"
                                                            formControlName='firstname' placeholder="Enter First Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>last Name</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="employeeInfo.lastname"
                                                            formControlName='lastname' placeholder="Enter Last Name">
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Mobile<span class="danger mb-0"
                                                                style="font-size: 15px;">* </span></label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="employeeInfo.mobile" formControlName='mobile'
                                                            placeholder="Enter mobile number">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="employeeInfo.email" formControlName='email'
                                                            placeholder="Enter email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Date Of Birth</label>
                                                        <input placeholder="Enter Date Of Birth"
                                                            [minDate]="{year: 1970, month: 1, day: 1}"
                                                            autocomplete="off" ngbDatepicker #remove1="ngbDatepicker"
                                                            (click)="remove1.toggle()" class="form-control"
                                                            formControlName='date_of_birth'
                                                            [(ngModel)]="ngbDateOfBirth">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Date Of Joining </label>
                                                    <input placeholder="Enter Joining Date" autocomplete="off"
                                                        ngbDatepicker #remove="ngbDatepicker"
                                                        [minDate]="{year: 2000, month: 1, day: 1}"
                                                        (click)="remove.toggle()" class="form-control"
                                                        formControlName='dateOfJoining' [(ngModel)]="ngbDateOfJoining">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Designation</label>
                                                        <select class="form-control"
                                                            [(ngModel)]="employeeInfo.designation"
                                                            formControlName="designation">
                                                            <option value="Salon Manager"> Salon Manager </option>
                                                            <option value="Hairstylist"> Hairstylist </option>
                                                            <option value="Beautician"> Beautician </option>
                                                            <option value="Barber"> Barber </option>
                                                            <option value="Waxing Specialist"> Waxing Specialist
                                                            </option>
                                                            <option value="Makeup Artist"> Makeup Artist </option>
                                                            <option value="Nail technician"> Nail technician </option>
                                                            <option value="Receptionist"> Receptionist </option>
                                                            <option value="Massage therapist"> Massage therapist
                                                            </option>
                                                            <option value="Shampoo assistant">Shampoo assistant
                                                            </option>
                                                            <option value="Cleaner">Cleaner</option>
                                                            <option value="Beautician"> Beautician </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>employee Unique Id </label>
                                                    <input type="text" class="form-control"
                                                        [(ngModel)]="employeeInfo.employeeUniqueId"
                                                        formControlName='employeeUniqueId'
                                                        placeholder="Enter employee Unique Id">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Select branch<span class="danger mb-0"
                                                            style="font-size: 15px;">* </span></label>
                                                    <select class="form-control mb-2" [(ngModel)]="employeeInfo.branchId"
                                                        formControlName="branchId">
                                                        <option value=""> Select branch </option>
                                                        <option value="{{brach.id}}" *ngFor="let brach of branchList">
                                                            {{brach.branchName}} </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 col-sm-12"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Address</label>
                                                        <textarea type="text" class="form-control"
                                                            [(ngModel)]="employeeInfo.address" formControlName='address'
                                                            placeholder="Enter address"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="inProgress">
                <div class="col-md-12 text-center align-middle">
                    <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>

                </div>
            </div>
        </div>
    </div>
</form>