<div class="row">
    <div class="col-md-6 col-sm-12 text-left">
        <label class="page-heading">Categories</label>
    </div>
    <div class="col-md-6 col-sm-12 text-right" *ngIf="!inProgress">
        <button class=" mysalontheme-btn-sm mr-1" *ngIf="!isBranchPannel"
            (click)="openProductCategoryModal(CategoryModal,null,false)"><i class="fa fa-plus"></i>
            </button>
        <button class="mysalontheme-btn-sm mr-1" printTitle="MyTitle" printSectionId="print-section"
            ngxPrint><i class="fa fa-print" aria-hidden="true"></i></button>
        <button class="mysalontheme-btn-sm mr-1" (click)="downloadXslx()"><i class="fa fa-download" aria-hidden="true"></i></button>
        <button class="mysalontheme-btn-sm mr-1" *ngIf="hideDeleteSelectedBtn" (click)="deleteSelected()"><i
                class="fa fa-trash"></i> &nbsp; Delete Selected</button>

    </div>
</div>

<section id="simple-table" *ngIf="!inProgress">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card grid-width" id="print-section">
                <div class="card-content">
                    <div class="card-body">
                        <table class="table" id="table-xsls">
                            <thead>
                                <tr>
                                    <!-- <th *ngIf="!isBranchPannel">
                                        <div class="remember-me">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input"
                                                    (change)="selectAll($event)" [value]="selectedAll" id="selectAll1"
                                                    name="selectAll1" />
                                                <label class="custom-control-label" for="selectAll1"> </label>
                                            </div>
                                        </div>
                                    </th> -->
                                    <!-- <th>Category ID </th> -->
                                    <th>Serial No.</th>
                                    <th>Category </th>
                                    <th>Type </th>
                                    <!-- <th>Status </th> -->
                                    <th>Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngIf="(!categories ||(categories && categories.length<=0))">
                                    <td colspan="5">No Data Found.</td>
                                </tr>
                                <tr *ngFor="let category of categories;let i=index;">
                                    <!-- <td *ngIf="!isBranchPannel">
                                        <label>
                                            <input type="checkbox" [checked]="category.isSelected"
                                                [value]="category.isSelected" (change)="change(category,$event)" />
                                        </label>
                                    </td> -->
                                    <!-- <td>{{category.id}}</td> -->
                                    <td>{{i+1}}</td>
                                    <td>{{category.name}}</td>
                                    <td>{{category.name}}</td>
                                    <!-- <td>{{category.status==0?'Deactivated':'Activated'}}</td> -->

                                    <th class="action-btn-2">
                                        <button type="button" class="mysalontheme-btn-sm mr-1 mb-0"
                                            (click)="viewClient(viewClientModel,category)"><i class="fa fa-eye"></i>
                                        </button>

                                        <button type="button" *ngIf="category.status=='Disabled' &&!isBranchPannel"
                                            class="mysalontheme-btn-sm mr-1 mb-0"
                                            (click)="updatedProductCategoryStatus(category,'Enabled')"> Enable
                                        </button>
                                        <button type="button" *ngIf="category.status=='Enabled' && !isBranchPannel"
                                            class="mysalontheme-btn-sm mr-1 mb-0"
                                            (click)="updatedProductCategoryStatus(category,'Disabled')"> Disable
                                        </button>
                                        <button type="button" class="mysalontheme-btn-sm mr-1 mb-0" *ngIf="!isBranchPannel"
                                            (click)="openProductCategoryModal(CategoryModal,category,true)"> <i
                                                class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="mysalontheme-btn-sm mr-1 mb-0" *ngIf="!isBranchPannel"
                                            (click)="deleteProductCategory(category)"> <i class="fa fa-trash"></i>
                                        </button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Table Ends-->
<div class="col-12 p-5 text-center align-middle" *ngIf="inProgress">
    <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>

</div>

<ng-template #CategoryModal let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title" id="modal-basic-title ">New Category</h4>
            </div>
        </div>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Name<span class="danger mb-0" style="font-size: 15px;">* </span></label>
                    <input type="text" [(ngModel)]="selectedProductCategory.name" class="form-control"
                        placeholder="Enter name ">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Parent Category<span class="danger mb-0" style="font-size: 15px;">* </span></label>
                    <select [(ngModel)]="selectedProductCategory.mainCategory" class="form-control">
                        <option value="">Select Parent Category</option>
                        <option value="{{parentCategory.id}}" *ngFor="let parentCategory of productParentCategoryModel">
                            {{parentCategory.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" [(ngModel)]="selectedProductCategory.status">
                        <option value="1">Active</option>
                        <option value="0"> Deactive </option>
                    </select>
                </div>
            </div> -->


        </div>
        <div class="row" *ngIf="selectedProductCategory.description">
            <div class="col-12">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" [(ngModel)]="selectedProductCategory.description"
                        placeholder="Enter description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mysalontheme-btn-sm" (click)="saveProductCategory()">
            <i class="fa fa-floppy-o"></i></button>
        <button type="button" class="mysalontheme-btn-sm" (click)="closeModal()"> <i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</ng-template>

<ng-template #viewClientModel let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title" id="modal-basic-title ">Category Details</h4>
            </div>
        </div>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-6">
                <label> <b>Product ID : </b> {{currentSelected.id}}</label><br>
            </div>
            <div class="col-md-6">
                <label> <b>Name : </b> {{currentSelected.name}}</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label> <b>Parent Category: </b>{{getParentCategoryName(currentSelected.mainCategory)}}</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label> <b>Description : </b> {{currentSelected.description}}</label><br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mysalontheme-btn-sm  " (click)="closeModal()"> <i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</ng-template>