<!--Login Page Ends-->
<section id="mainContainer" class="page-container">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12">
                <div class="row pt-5 pb-3">
                    <div class="col-12 text-center">
                        <label class="mysalontheme-walkin-header">Your Appointment</label>
                    </div>
                </div>
                <div class="row mt-5"  *ngIf="!inProgress">
                    <div class="col-lg-2 col-md-1 col-sm-12"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <form *ngIf="!isTheUserSearched" [formGroup]="searchForm" (ngSubmit)="getAppointmentsList()">
                            <div class="row text-center">
                                <div class="col-12">
                                    <input type="text" formControlName='mobile' [(ngModel)]="phone"
                                        style="width: 450px;" class="mysalontheme-input-lg" placeholder="Enter mobile number">
                                    <button type="submit" class="mysalontheme-btn-lg ml-1"> Search</button>
                                </div>
                            </div>
                        </form>

                        <div class="row mysalontheme-input" *ngIf="isTheUserSearched">
                            <div class="col-sm-6"> <label>Name:
                                    &nbsp;</label>{{currentAppointment.customer_name}}
                            </div>
                            <div class="col-sm-6">
                                <label>Date/Time:&nbsp;</label> 
                                {{cService.getStringDateFormatByCurtureAndType(currentAppointment.dateAndTime, false)}}
                                {{currentAppointment.hours}}
                            </div>
                        </div>
                        <div class="row mysalontheme-input mt-1" *ngIf="isTheUserSearched">
                            <div class="col-md-8 col-sm-12">
                                <label>Services:&nbsp;</label>{{currentAppointment.services_name}}
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Amount:&nbsp;</label>{{currentAppointment.totalAmount}}
                            </div>
                        </div>
                         
                        <div class="row mt-3" *ngIf="isTheUserSearched">
                            <div class="col-12">
                                <button type="button" (click)="done()" class="mysalontheme-btn-lg pull-right" style="margin-right: 15px;">
                                    <i class="fa fa-check"></i> Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-12"></div>
                </div>

                <div class="row" *ngIf="inProgress">
                    <div class="col-md-12 text-center align-middle">
                        <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>