<section id="Thank-you">
    <div class="container-fluid">
        <div class="row full-height-vh d-flex align-items-center justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body  text-center">
                            <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>

                            <div class="maintenance-content ">
                                <div class="sec-title mrgn-b-2">
                                    <h3><span class="font-mdx info font-weight-bold">Thank You</span></h3>
                                </div>

                                <div class="sec-content text-center mb-3">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-11 col-lg-11 mx-auto">
                                            <p class="mb-0">A verification link has been sent to your following email account.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center d-sm-flex d-block align-items-center justify-content-center">
                                    <h4 class="info">{{email}}</h4>
                                </div>

                                <div class="login-btn mt-4 mb-4">
                                    <p style="margin-top: 10px;"> Already Verified <a href="login-page.html" class="text-decoration-none" [routerLink]="['/login']">Sign IN
                                               </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>