<!--Login Page Ends-->
<form [formGroup]="dateForm" (ngSubmit)="Proceed()">
    <section id="mainContainer" class="page-container">
        <div class="container-fluid">
            <div class="row m-0  full-height-vh">
                <div class="col-12">
                    <div class="row pt-3 pb-2">
                        <div class="col-12 text-center">
                            <label class="main-heading d-none d-xs-none d-sm-none d-md-block d-lg-block mb-0">Select Date and Time</label>
                            <label class="mobile-heading d-xs-block d-sm-block d-md-none mb-0">Select Date and Time
                                </label>
                            <!-- <label *ngIf="hours!=''" class="mb-0 danger">already {{alreadyBookedSlots}} slots are booked
                                from {{slot_for_appointment}} available slots.</label> -->
                        </div>
                    </div>
                    <div class="row" *ngIf="!inProgress">
                        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <ngb-datepicker class="mydatepicker" [(ngModel)]="selectedDate" #dp [minDate]="todayDate"
                                        (navigate)="date = $event.next" formControlName="date"></ngb-datepicker>
                                </div>
                            </div>
                            <br>
                            <h4 class="mb-0 pt-1"><b>Time</b> </h4>
                            <div class="row">
                                <div class="col-12">
                                    <select class="mysalontheme-input" [(ngModel)]="hours" formControlName='hours'
                                        style="width:300px">
                                        <option value="">Select Time</option>

                                        <option value="9.00 am">9.00 am</option>
                                        <option value="9.15 am">9.15 am</option>
                                        <option value="9.30 am">9.30 am</option>
                                        <option value="9.45 am">9.45 am</option>

                                        <option value="10.00 am">10.00 am</option>
                                        <option value="10.15 am">10.15 am</option>
                                        <option value="10.30 am">10.30 am</option>
                                        <option value="10.45 am">10.45 am</option>

                                        <option value="11.00 am">11.00 am</option>
                                        <option value="11.15 am">11.15 am</option>
                                        <option value="11.30 am">11.30 am</option>
                                        <option value="11.45 am">11.45 am</option>

                                        <option value="12.00 am">12.00 am</option>
                                        <option value="12.15 pm">12.15 pm</option>
                                        <option value="12.30 pm">12.30 pm</option>
                                        <option value="12.45 pm">12.45 pm</option>

                                        <option value="1.00 pm">01.00 pm</option>
                                        <option value="1.15 pm">01.15 pm</option>
                                        <option value="1.30 pm">01.30 pm</option>
                                        <option value="1.45 pm">01.45 pm</option>

                                        <option value="2.00 pm">02.00 pm</option>
                                        <option value="2.15 pm">02.15 pm</option>
                                        <option value="2.30 pm">02.30 pm</option>
                                        <option value="2.45 pm">02.45 pm</option>

                                        <option value="3.00 pm">03.00 pm</option>
                                        <option value="3.15 pm">03.15 pm</option>
                                        <option value="3.30 pm">03.30 pm</option>
                                        <option value="3.45 pm">03.45 pm</option>

                                        <option value="4.00 pm">04.00 pm</option>
                                        <option value="4.15 pm">04.15 pm</option>
                                        <option value="4.30 pm">04.30 pm</option>
                                        <option value="4.45 pm">04.45 pm</option>

                                        <option value="5.00 pm">05.00 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 d-none d-xs-none d-sm-none d-md-block d-lg-block mb-0">
                            <h4 class="mb-0"><b>Cart</b> </h4>
                            <app-cart [isEditMode]="false" [selectedServies]="" [isStaticData]="true" [total]="0"
                                [subtotal]="0" [tax]="0"></app-cart>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="!inProgress">
                        <div class="col-12">
                            <button class="mysalontheme-btn-lg pull-right" type="submit"
                                *ngIf="hours!=''">Finish
                                &nbsp;<i class="fa fa-check"></i>
                            </button>

                            <button type="button" class="mysalontheme-btn-lg pull-left" (click)="back()"><i
                                    class="fa fa-arrow-left"></i> &nbsp;
                                Back</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="inProgress">
                        <div class="col-md-12 text-center align-middle">
                            <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>