<button class="mysalontheme-btn-md" type="button" (click)="openProductCategoryModal(CategoryModal,null,false)">
    <i class="fa fa-floppy-o" aria-hidden="true"></i> </button>
<ng-template #CategoryModal let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title" id="modal-basic-title ">New Category</h4>
            </div>
        </div>
    </div>
    <div class="modal-body" *ngIf="!inProgress">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Name<span class="danger mb-0" style="font-size: 15px;">* </span></label>
                    <input type="text" [(ngModel)]="selectedProductCategory.name" class="form-control"
                        placeholder="Enter name ">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" [(ngModel)]="selectedProductCategory.status">
                        <option value="1">Active</option>
                        <option value="0"> Deactive </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" [(ngModel)]="selectedProductCategory.description"
                        placeholder="Enter description"></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body" *ngIf="inProgress">
        <div class="col-12 p-5 text-center align-middle" >
             <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
            
        </div>
    </div>
    <div class="modal-footer" *ngIf="!inProgress">
        <button type="button" class="mysalontheme-btn-sm" (click)="saveProductCategory()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
        <button type="button" class="mysalontheme-btn-sm" (click)="closeModal()"> <i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</ng-template>