<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body login-img">
                            <div class="row m-0">
                                <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                                    <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
                                </div>
                                <div class="col-lg-6 col-md-12 bg-white p-5 text-center align-middle" *ngIf="inProgress">
                                     <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
                                    
                                </div>
                                <div class="col-lg-6 col-md-12 bg-white px-4 pt-3" *ngIf="!inProgress">
                                    <form [formGroup]="resetForm">
                                        <h4 class="card-title mb-2">Reset Password</h4>
                                        <p class="card-text mb-3">
                                            Enter new Password to reset
                                        </p>

                                        <input type="password" class="form-control mt-3" placeholder="Password" formControlName='newPassword' [(ngModel)]="userModel.password" />
                                        <small class="text-danger" *ngIf="resetForm.controls['newPassword'].touched && !resetForm.controls['newPassword'].valid">
                                        <small
                                            *ngIf="resetForm.controls['newPassword'].hasError('required')">
                                            Password is required
                                        </small>
                                        <small *ngIf="resetForm.controls['newPassword'].hasError('minlength')">
                                            Password must contain atleast 6 characters
                                        </small>
                                        </small>

                                        <input type="password" class="form-control mt-3" placeholder="Confirm Password" formControlName='confirmPassword' [(ngModel)]="userModel.password_confirmation" />
                                        <small class="text-danger" *ngIf="resetForm.controls['confirmPassword'].touched && !resetForm.controls['confirmPassword'].valid">
                                        <small
                                            *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
                                            Confirm password is required
                                        </small>
                                        <small *ngIf="resetForm.controls['confirmPassword'].hasError('minlength')">
                                            Confirm password must contain atleast 6 characters
                                        </small>
                                        <small *ngIf="resetForm.controls['confirmPassword'].hasError('MatchPassword')">
                                            Passwords do not match
                                        </small>
                                        </small>

                                        <div class="fg-actions d-flex justify-content-between mb-3 mt-3">
                                            <div class="login-btn">
                                                <button class="mysalontheme-btn-sm">
                                                    <a
                                                      href="login-page.html"
                                                      class="text-decoration-none"
                                                      [routerLink]="['/login']"
                                                    >
                                                      Go To Login
                                                    </a>
                                                  </button>
                                            </div>
                                            <div class="recover-pass">
                                                <button class="mysalontheme-btn-sm" (click)="resetPassword()"> <a class="text-decoration-none text-white">Reset</a></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->