<div class="row">
    <div class="col-2 text-left">
        <label class="page-heading">Products</label>
    </div>
    <div class="col-10 text-right" *ngIf="!inProgress">
        <button class="mysalontheme-btn-sm mr-1" *ngIf="isPrintView" printTitle="Customers List" [useExistingCss]="true"
            printSectionId="print-section" ngxPrint>
            <i class="fa fa-print" aria-hidden="true"></i></button>
        <button class="mysalontheme-btn-sm mr-1" *ngIf="isPrintView" (click)="downloadXslx()"><i
                class="fa fa-download"></i>
            XLSX</button>
        <button class="mysalontheme-btn-sm mr-1" *ngIf="hideDeleteSelectedBtn && !isPrintView"
            (click)="deleteSelected()"><i class="fa fa-trash"></i></button>
        <button class=" mysalontheme-btn-sm mr-1" *ngIf="!isPrintView" (click)="addProduct(0)"><i
                class="fa fa-plus"></i></button>
        <button class="mysalontheme-btn-sm mr-1" *ngIf="!isPrintView" (click)="hideShowFilter()"><i
                class="fa fa-filter"></i>

            <label *ngIf="showFilter" class=" mb-0"></label>
            <label *ngIf="!showFilter" class=" mb-0"></label>
        </button>
        <button class="mysalontheme-btn-sm mr-1" *ngIf="!isPrintView" (click)="resetFilter()"> <i
                class="fa fa-refresh"></i></button>
        <button class="mysalontheme-btn-sm mr-1" (click)="hideShowPrintView()">
            <label class="mb-0" *ngIf="!isPrintView"><i class="fa fa-bar-chart"></i> </label>
            <label class="mb-0" *ngIf="isPrintView"> <i class="fa fa-bar-chart"></i> </label>
        </button>
    </div>
</div>

<div class="row mt-1" *ngIf="showFilter&&!isPrintView">
    <div class="col-md-4 col-sm-12">
        <select class="form-control" [(ngModel)]="filterType" (change)="onFilterTypeChange()">
            <option value="">Select Filter Type</option>
            <option value="name">Name</option>
            <option value="maincategory">Category</option>
            <option value="category">Sub Category</option>
            <option value="price">Price</option>
        </select>
    </div>
    <div class="col-md-4 col-sm-12">
        <input *ngIf="filterType!=''&& filterType !='category'&& filterType !='maincategory'" class="form-control"
            [(ngModel)]="filterValue" placeholder="Search keyword here...." type="text">
        <select *ngIf="filterType!=''&& filterType =='maincategory'" [(ngModel)]="filterValue" class="form-control">
            <option value="">Select Main Category</option>
            <option value="{{parentCategory.id}}" *ngFor="let parentCategory of productParentCategoryModel">
                {{parentCategory.name}}</option>
        </select>
        <select *ngIf="filterType!=''&& filterType =='category'" [(ngModel)]="filterValue" class="form-control">
            <option value="">Select Sub Category</option>
            <option value="{{category.id}}" *ngFor="let category of categories">
                {{category.name}}</option>
        </select>
    </div>
    <div class="col-md-4 col-sm-12 text-left">
        <button *ngIf="filterType!=''&& filterValue!=null&& filterValue!=''" class="mysalontheme-btn-sm mt-1"
            (click)="getFilteredDataList()"><i class="fa fa-search"></i> </button>
    </div>
</div>

<section id="simple-table" *ngIf="!inProgress">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card grid-width" id="print-section">
                <div class="card-content">
                    <div class="card-body">
                        <table class="table" id="table-xsls">
                            <thead>
                                <tr>
                                    <!-- <th *ngIf="!isPrintView && !isBranchPannel">
                                        <div class="remember-me">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input"
                                                    (change)="selectAll($event)" [value]="selectedAll" id="selectAll1"
                                                    name="selectAll1" />
                                                <label class="custom-control-label" for="selectAll1"> </label>
                                            </div>
                                        </div>
                                    </th> -->
                                    <!-- <th>Product ID </th> -->
                                    <th *ngIf="!isPrintView">Serial No. </th>
                                    <th>Name
                                        <i *ngIf="!nameSortAsc" class="fa fa-sort-alpha-asc"
                                            (click)="sortByColumn(products,'name')"></i>
                                        <i *ngIf="nameSortAsc" class="fa fa-sort-alpha-desc"
                                            (click)="sortByColumn(products,'name')"></i>
                                    </th>
                                    <th>Category
                                        <i *ngIf="!categorySortAsc" class="fa fa-sort-alpha-asc"
                                            (click)="sortByColumn(products,'category_name')"></i>
                                        <i *ngIf="categorySortAsc" class="fa fa-sort-alpha-desc"
                                            (click)="sortByColumn(products,'category_name')"></i>
                                    </th>
                                    <!-- <th>Qty
                                        <i *ngIf="!qtySortAsc" class="fa fa-sort-amount-asc"
                                            (click)="sortByColumn(products,'qty')"></i>
                                        <i *ngIf="qtySortAsc" class="fa fa-sort-amount-desc"
                                            (click)="sortByColumn(products,'qty')"></i>
                                    </th> -->
                                    <th>Price
                                        <i *ngIf="!priceSortAsc" class="fa fa-sort-numeric-asc"
                                            (click)="sortByColumn(products,'price')"></i>
                                        <i *ngIf="priceSortAsc" class="fa fa-sort-numeric-desc "
                                            (click)="sortByColumn(products,'price')"></i>
                                    </th>
                                    <th *ngIf="!isPrintView">Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngIf="(!products ||(products && products.length<=0))">
                                    <td colspan="7">No Data Found.</td>
                                </tr>
                                <tr *ngFor="let product of products; let i=index">
                                    <!-- <td *ngIf="!isPrintView && !isBranchPannel">
                                        <label>
                                            <input type="checkbox" [checked]="product.isSelected"
                                                [value]="product.isSelected" (change)="change(product,$event)" />
                                        </label>
                                    </td> -->
                                    <td *ngIf="!isPrintView">{{i+1}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.categoryName}}</td>
                                    <!-- <td>{{product.qty}}</td> -->
                                    <td>{{product.price}}</td>
                                    <th *ngIf="!isPrintView" class="action-btn">
                                        <button type="button" class="mysalontheme-btn-sm mr-1 mb-0"
                                            (click)="viewClient(viewClientModel,product)"><i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" class=" mysalontheme-btn-sm mr-1"
                                            ngbTooltip="Edit Product" *ngIf="!isBranchPannel"
                                            (click)="addProduct(product.id)"><i class="fa fa-edit"></i> </button>
                                        <button type="button" class="mysalontheme-btn-sm" ngbTooltip="Delete Product"
                                            *ngIf="!isBranchPannel" (click)="deleteProduct(product)"><i
                                                class="fa fa-trash"></i> </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row" *ngIf="inProgress">
    <div class="col-md-12 text-center align-middle">
        <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>

    </div>
</div>
<!--Basic Table Ends-->

<ng-template #viewClientModel let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title" id="modal-basic-title ">Product Details</h4>
            </div>
        </div>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <label> <b>Name : </b> {{currentSelected.name}}</label><br>
                <label> <b>Category : </b> {{currentSelected.categoryName}}</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label> <b>MRP : </b> {{currentSelected.mrp}}</label><br>
                <label> <b>Sale Price : </b> {{currentSelected.price}}</label><br>
                <label> <b>Quantity : </b> {{currentSelected.qty}}</label><br>
            </div>
        </div>

        <div class="row" *ngIf="currentSelected.description">
            <div class="col-md-12">
                <label> <b>Description : </b> {{currentSelected.description}}</label><br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mysalontheme-btn-sm  " (click)="closeModal()"> <i class="fa fa-times"
                aria-hidden="true"></i></button>
    </div>
</ng-template>