<section id="forgot-password">
    <div class="container-fluid forgot-password-bg">
        <div class="row full-height-vh m-0  d-flex align-items-center justify-content-center">
            <div class="col-md-7 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body fg-image">
                            <div class="row m-0">
                                <div class="col-lg-6 d-lg-block d-none p-5 text-center align-middle">
                                     <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
                                </div>
                                <div class="col-lg-6 col-md-12 bg-white p-5 text-center align-middle" *ngIf="inProgress">
                                     <i style="font-size:80px" class="fa fa-gear fa-spin mt-4"></i>
                                    
                                </div>
                                <div class="col-lg-6 col-md-12 bg-white px-4 pt-3" *ngIf="!inProgress">
                                    <form [formGroup]="forgotForm" (ngSubmit)="resetPassword()">
                                        <h4 class="card-title mb-2 mt-2"> Recover Password</h4>
                                        <p class="card-text mb-3">
                                            Please enter your email address.
                                        </p>

                                        <input class="form-control" type="email" placeholder="Email" formControlName='email' [(ngModel)]="email">
                                        <small class="text-danger" *ngIf="forgotForm.controls['email'].hasError('required') && forgotForm.controls['email'].touched">Email is required</small>
                                        <small class="text-danger" *ngIf="forgotForm.controls['email'].errors && !(forgotForm.controls['email'].hasError('required')) && forgotForm.controls['email'].touched">Email must be valid</small>

                                        <div class="fg-actions d-flex justify-content-between mt-3 mb-3">
                                            <div class="recover-pass">
                                                <button type="submit" class="hawk-btn-sm"><a class="text-decoration-none text-white"> Recover</a></button>
                                            </div>
                                            <div class="login-btn">
                                                <p id="captialText1" style="margin-top: 9px;"><a class="text-decoration-none" [routerLink]="['/login']">Log in instead ...</a></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>