.page-container {
    background-color: #fbf0ec;
}
.main-heading {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 51px;
}

.mysalontheme-btn-color{
    background-color: #F7C9CB;
    color: white;
}
.mysalontheme-cancel-btn{
    background-color:#fbf0ec;
    color:  #F7C9CB;
    border-radius: 0%;
   
}
.btn{
    font-size: 1.2rem !important;
}