<section id="mainContainer" class="page-container">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12">
                <div class="row p-3">
                    <div class="col-12 text-center">
                        <label class="main-heading mb-0">Please choose your service</label>
                    </div>
                </div>
                <div class="row" *ngIf="!inProgress">
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                        <ngb-tabset #t="ngbTabset">
                            <ngb-tab id="{{category.name}}" *ngFor="let category of categories">
                                <ng-template ngbTabTitle>
                                    <div style="font-size: 18px;font-weight: 400;" (click)="selectedCategory(category)">
                                        <label> {{category.name}}</label>
                                    </div>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <div matchHeight="card" class="p-2">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 p-1"
                                                *ngFor="let service of selectServicesList">
                                                <div class="card mysalontheme-btn-color m-0"
                                                    (click)="selectService(service)"
                                                    style="height: 65px;overflow: hidden;font-size: 18px;border-radius: 0px;"
                                                    [ngClass]="{'mysalontheme-btn-color': !service.isSelected, 'my-salon-master':service.isSelected}">
                                                    <div class="card-content p-2 align-middle">
                                                        <div class="card-body">
                                                            <div class="media">
                                                                <div class="media-body white text-left">
                                                                    <label class="mb-0"> {{service.name}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>

                        <span *ngIf="!categories || categories.length<=0">No Categories found.</span>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                        <h4 class="m-0"><b>Cart</b> </h4>
                        <app-cart [isEditMode]="true" [selectedServies]="selectedServies" [isStaticData]="false"
                            (deleteServiceData)="deleteService($event)" [total]="total" [subtotal]="subtotal"
                            [tax]="tax"></app-cart>

                    </div>
                </div>
                <div class="row mt-1" *ngIf="!inProgress">
                    <div class="col-12">
                        <button class="mysalontheme-btn-lg pull-right" (click)="Proceed()">Next&nbsp;<i
                                class="fa fa-arrow-right"></i>
                        </button>
                        <button class="mysalontheme-btn-lg pull-left" (click)="back()"><i
                                class="fa fa-arrow-left"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>