<div class="row">
    <div class="col-12 text-left">
        <h3>Settings</h3>
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row text-left">
                    <div class="col-sm-12">
                       Online URL:- <a href="https://hawksystems.app/#/walkIn/BranchSelection?admin_id={{currentUser.id}}"
                            target="_blank">https://hawksystems.app/#/walkIn/BranchSelection?admin_id={{currentUser.id}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>