/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.mysalontheme-bg-color {
    background-color: #fbf0ec;
}

.mysalontheme-walkin-header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
}

.page-heading {
    margin-bottom: 0px !important;
    font-size: 23px !important;
    font-weight: 400 !important;
    color: black !important;
    text-transform: uppercase !important;
}

.mysalontheme-btn-color {
    background-color: #e97f7f;
    color: white;
}

.table th,
.table td {
    padding: 0.5rem !important;
}

.btn {
    margin-bottom: 0px !important;
}

.mysalontheme-input-lg {
    width: 100%;
    height: 60px;
    padding: 0px 10px 0px 20px;
    font-size: 25px;
    font-weight: 500;
    border: solid;
}

.mysalontheme-btn-lg {
    /* background-color: #F7C9CB; */
    background-color: #e97f7f;
    color: white;
    height: 60px;
    font-size: 25px;

    padding: 0px 20px 0px 20px;
    border: none;
}

.mysalontheme-btn-md {
    /* background-color: #F7C9CB; */
    background-color: #e97f7f;
    color: white;
    height: 40px;
    font-size: 17px;
    padding: 0px 20px 0px 20px;
    border: none;
}

.mysalontheme-btn-sm {
    /* background-color: #F7C9CB; */
    background-color: #e97f7f;
    color: white;
    height: 30px;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    border: none;
}

.mysalontheme-btn-md:hover {
    transition: 0.2s ease-in-out;
    background: #eb3232;
}

.mysalontheme-btn-sm:hover {
    transition: 0.2s ease-in-out;
    background: #eb3232;
}

.mysalontheme-btn-lg:hover {
    transition: 0.2s ease-in-out;
    background: #eb3232;
}



::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: lightgray;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid lightgray;
    /* creates padding around scroll thumb */
}

.control-level {
    padding-top: 30px;
}

.grid-width {
    width: 100%;
    overflow: scroll;
}
.action-btn{
    min-width: 125px !important;
}